# Pandas - DataFrame and Series

- Powerful data manipulation library
- pandas is widely used from data analysis and cleaning
- It provides tow data structures:
- Series (1-dimensional labeled array of values)
-  DataFrame (2-dimensional labeled data structure with columns of potentially different types) (size mutable)
- It also provides data alignment, data merging, reshaping, and pivoting capabilities.

In [1]:
import pandas as pd

## Pandas Series:
-  Series is a one-dimensional labeled array of values. It is similar to a list, but with additional features like alignment and missing data handling.  It is a powerful data structure for data manipulation and analysis. 
-  Series can be created from a list, dictionary, or other iterable. It can also be  created from a NumPy array or another Series. 
-  Series has several methods for data manipulation, such as filtering, sorting, grouping, and merging . It also has methods for statistical analysis, such as mean, median, and standard deviation.

- similar to a column in a table

#### Creating series from list

In [ ]:
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

#### Creating series from a dictionary
- In this the key becomes the index of the series

In [ ]:
data = {'a':1,'b':2,'c':3}
series = pd.Series(data)
print(series)

The indices can be specially assigned (custom indexing)

In [ ]:
data = [1,2,3,4,5]
index = ['a','b','c','z','y']
series = pd.Series(data,index = index)
print(series)

## Pandas Dataframe:
- Has multiple rows and columns

In [ ]:
#dictionary of list

data = {
  'Name':['Sangamesh','Nutan','Sam'],
  'age':[21,22,23],
  'location':['Bangaluru','Mumbai','Hydrabad']
}
df = pd.DataFrame(data)
print(df)

In [ ]:
# list of dictionary
data = [{'name': 'John', 'age': 25}, 
             {'name': 'Alice ', 'age': 30}, 
             {'name': 'Bob', 'age': 35}]
print(pd.DataFrame(data))

In [ ]:
df = pd.read_csv('sampleData.csv')
print(df.head(5))

In [14]:
data = {
  'Name':['Sangamesh','Nutan','Sam'],
  'age':[21,22,23],
  'location':['Bangaluru','Mumbai','Hydrabad']
}
df = pd.DataFrame(data)
print(df)

        Name  age   location
0  Sangamesh   21  Bangaluru
1      Nutan   22     Mumbai
2        Sam   23   Hydrabad

In [ ]:
#for working with colums
df['Name']

In [ ]:
# for any row indexing
df.loc[0]

In [ ]:

df.iloc[0]
df.iloc[0][2]

In [ ]:
# Accessing a specified element
df.at[1,'age']